/* You can add global styles to this file, and also import other style files */
* {
margin: 0;
padding: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: Montserrat, "Helvetica Neue", sans-serif; }

section {
    background-color: #F2F7F2;
}

h1 {
    font-size: 1.4em;
    font-weight: 900;
}

h2 {
    font-size: 1.2em;
    font-weight: 400;
}

h1, h2 {
    color: #02394A;
    text-align: center;
    padding: 1em;
}

hr {
   overflow: visible; /* For IE */
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;

    &:before {
        display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
    }
}

.mat-card {
   font-family: Montserrat, "Helvetica Neue", sans-serif;
}